MVC/Connected Services/SOAPService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBicycleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BicycleDTO" nillable="true" type="tns:BicycleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBicycleDTO" nillable="true" type="tns:ArrayOfBicycleDTO" />
  <xs:complexType name="BicycleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="SerialNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearOfManufacture" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BicycleDTO" nillable="true" type="tns:BicycleDTO" />
  <xs:complexType name="ArrayOfBuyerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuyerDTO" nillable="true" type="tns:BuyerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuyerDTO" nillable="true" type="tns:ArrayOfBuyerDTO" />
  <xs:complexType name="BuyerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuyerDTO" nillable="true" type="tns:BuyerDTO" />
  <xs:complexType name="ArrayOfOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDTO" nillable="true" type="tns:OrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDTO" nillable="true" type="tns:ArrayOfOrderDTO" />
  <xs:complexType name="OrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Bicycle" nillable="true" type="tns:BicycleDTO" />
      <xs:element minOccurs="0" name="BicycleId" type="xs:int" />
      <xs:element minOccurs="0" name="Buyer" nillable="true" type="tns:BuyerDTO" />
      <xs:element minOccurs="0" name="BuyerId" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDTO" nillable="true" type="tns:OrderDTO" />
</xs:schema>